/* html {
  min-height: 100%;
  position: relative;
  font-family:"Public Sans", sans-serif;
} */
 * {
  font-display: swap !important;
 }
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", system-ui, Arial, sans-serif;
}