.navbar {
  min-height: 70px;
}
.img-logo-navbar {
  border-radius: 30%;          /* hace la imagen circular */
  object-fit: cover;           /* asegura que la imagen cubra el contenedor */
  width: 40px;                 
  height: 40px;                
}
/*botones iniciar sesion/registrarse - admin - salir - carrito*/
.card-buttons-right {
  display: flex;
  align-items: center;              /* centra verticalmente todo */
  gap: 0.4rem;                      /* control del espaciado entre botones */
}
.card-buttons-right .btn-link {
  text-decoration: none !important; /* quita subrayado */
  padding: 0 !important; 
  margin: 0 !important;
  display: flex;                    /* para alinear ícono + texto */
  align-items: center;              /* centra verticalmente ícono y texto */
  line-height: 1;                   /* mantiene proporción */
}
.card-user-icon {
  font-size: 1.3rem;
  margin-right: 0px;
}
.card-user-span {
  font-size: 0.85rem;
  max-width: 110px;         /* ajustá según tu diseño */
  overflow: hidden;         /* oculta el exceso */
  text-overflow: ellipsis;  /* agrega los “...” */
  display: inline-block;    /* necesario para que funcione text-overflow */
  vertical-align: middle;
}

.card-user-admin,
.card-user-logout {
  font-size: 0.85rem;       /* mismo tamaño para que alineen */
}
.card-cart-shopping-span {
  font-size: 0.9rem;
  margin-left: 4px;
}

/*------------------------ segundo navbar-----------------------*/
.navbar-nav .dropdown-menu {
  width: auto !important;
  min-width: 180px;
  border-radius: 10px;
  padding: 0.5rem;
}
.navbar-nav .dropdown-item {
  padding: 0.4rem 1rem; /* ajusta el padding según tu diseño */
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    position: static !important; /* hace que el dropdown se comporte como un elemento normal */
    margin-left: auto;
    margin-right: auto;
  }
}