.container {
  max-width: 1400px;
}
.category-top-bar .btn-order:hover {
  color: rgb(51, 51, 51, 0.5);
}
.filter-card-fixed-height {
  max-height: 300px;/*establezco un altura maxima para que no se estire en pantalla grande*/
  overflow: hidden;
}
.card-filters {
  max-height: 130px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  /* height: 100%; */
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}
/*card del producto*/
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.3s ease;
}
.card:hover .card-img-top {
  transform: scale(1.01);
}
.card-body {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 120px;
}
.card-title {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
  margin-bottom: 8px;
  height: 38px;/*altura de la card*/
  overflow: hidden;
  text-overflow: ellipsis;

  /*para navegadores (chrome, safari, edge)*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  /*para silenciar la advertencia*/
  line-clamp: 2;

  opacity: 0.8;
  transition: color 0.2s ease;
}
.card:hover .card-title {
  color: rgb(51, 51, 51, 0.5);
}
.card-text.fw-bold {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 5px;
  color: #7d7d7d;
  font-size: 1rem;
}